<section class="about-us">
    <div class="hero-section bg-about bg-center bg-cover object-fill w-full !h-[30rem] flex">
        <div class="overlay flex-1 backdrop-filter backdrop-blur-md bg-black/70 flex flex-col items-center justify-center gap-4">
            <h1 class="max-w-5xl text-6xl text-white font-bold block text-center">
                About {{domain}}
            </h1>
            <p class="max-w-5xl block text-justify hero-desc">
                Welcome to {{domain}}! We’re passionate about making a positive impact in the world. Our mission is to
                connect generous donors with causes they care about. Whether you’re an individual, a company, or a
                nonprofit
                organization, we’re here to facilitate meaningful giving.
            </p>
        </div>
    </div>
    <div class="content max-w-5xl py-5">
        <div class="my-5">
            <h2 class="text-gray-900 text-xl font-bold">
                Our Story
            </h2>
            <p>
                {{domain}} was founded in 2010 by a group of philanthropists who wanted to revolutionize the way people
                give
                back. We saw the need for a platform that simplifies charitable giving, fosters transparency, and
                maximizes
                the impact of every donation.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-gray-900 text-xl font-bold">
                What We Do
            </h2>

            <ul>
                <li>
                    Connect Donors and Causes: We provide a user-friendly platform where donors can discover and support
                    a wide range of causes—from education and healthcare to environmental conservation and disaster
                    relief.
                </li>
                <li>
                    Empower Nonprofits: Nonprofit organizations play a crucial role in creating positive change. We
                    partner with nonprofits, helping them raise funds, expand their reach, and achieve their missions.
                </li>
                <li>
                    Transparency: We believe in transparency. When you donate through DonationHub, you’ll know exactly
                    how your contribution is being used. Our financial reports are publicly accessible, ensuring
                    accountability.
                </li>
            </ul>
        </div>

        <div class="my-5">
            <h2 class="text-gray-900 text-xl font-bold">
                Our Values
            </h2>

            <ul>
                <li>
                    Impact: We measure success by the impact we create. Every dollar donated matters, and we strive to
                    make it count.
                </li>
                <li>
                    Community: We’re a global community of givers, united by compassion and a desire to make the world a
                    better place.
                </li>
                <li>
                    Innovation: We embrace technology and innovation to drive social change. Our platform evolves to
                    meet the needs of donors and nonprofits alike.
                </li>
            </ul>
        </div>

        <div class="my-5">
            <h2 class="text-gray-900 text-xl font-bold">
                Meet the Team
            </h2>

            <p class="hero-desc">
                Our dedicated team consists of passionate individuals who believe in the power of giving. From software
                engineers to fundraising experts, we work together to create a seamless giving experience.
            </p>
        </div>
    </div>
</section>